// src/css/quasar.variables.scss

// Colores de la Marca: Tecnología, Confianza, Ética
$primary: #007bff; // Azul Brillante (Para el Header, Botones principales)
$secondary: #007bff; // Opcional: Usar Primary para consistencia si no necesitas un tercer color

// Colores de Acción: Innovación, Urgencia (Usado en Badge del Carrito, Precios y botones clave)
$negative: #ff4500; // Naranja Intenso (Usado en el carrito)

// También puedes modificar el color de los precios si usaste 'deep-orange-10'
$deep-orange-10: #ff4500;

// Los demás colores se mantienen igual o se ajustan si es necesario:
$accent: #9c27b0;
$dark: #1d1d1d;
$dark-page: #121212;
$positive: #21ba45; // Mantenemos el verde para el estado "Nuevo"
$info: #31ccec;
$warning: #f2c037;
